<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4Z9U4yuRCrSeHd_GRfrCL6T3BzAyx0VH4aA&usqp=CAU" alt="" height="" width="">
    </div>
    <div class="big-card__title">
        <a href="#">New people</a>
    </div>
    <div class="big-card__description">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lorem nec metus elementum venenatis. 
            Nunc iaculis finibus nulla sed porta. Donec convallis sollicitudin leo, ut gravida mauris porttitor vitae. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            Nulla semper neque tellus, vitae consectetur sapien blandit ac. Cras lacinia hendrerit eros, vel ornare magna euismod in. 
            Duis viverra tempus libero sit amet malesuada. Praesent feugiat nibh a diam semper, eget scelerisque neque hendrerit.
        </p>
    </div>
</div>
