<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4Z9U4yuRCrSeHd_GRfrCL6T3BzAyx0VH4aA&usqp=CAU"
        cardTitle="New people"
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lorem nec metus elementum venenatis."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        photoCover="https://i.ytimg.com/vi/mVjYG9TSN88/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGH8gEyhWMA8=&rs=AOn4CLAd8M7O1rK30HRH-9RXrVAjhjqCOA"
        cardTitle="New people"
        ></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>

<h1>Novidades</h1>
<hr>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>